html {
  scroll-behavior: smooth;
}

@import url("https://fonts.cdnfonts.com/css/sofia-pro");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sofia Pro", sans-serif;
}

/* start nav bar */

.navbar-brand {
  margin-top: 5px;
}

.navbar .nav-link {
  color: #eee;
  font-weight: bold;
  margin: 0 6px;
  font-size: 15px;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #04b50a;
}

.pub-btn {
  background: rgb(210, 66, 0);
  color: white !important;
  margin-left: 15px;
  border-radius: 7px;
  font-size: 14px !important;
  padding: 2px 15px !important;
  margin-top: 8px !important;
}

@media (max-width: 992px) {
  .pub-btn {
    width: 80px;
  }
}

/*start contact section*/

.contact-us {
  padding: 60px 0;
}

.contact-us .inner {
  background-color: rgba(210, 66, 0, 0.8);
  border-radius: 50px;
}

.contact-us .left {
  background-color: rgba(210, 66, 0, 0.5);
  height: 100%;
  border-radius: 50px 0px 0px 50px;
}
.contact-us .right {
  background-color: #f2f2f2;
  border-radius: 0px 50px 50px 0px;
}

@media (max-width: 767px) {
  .contact-us .left {
    border-radius: 50px 50px 0 0 !important;
  }
  .contact-us .right {
    border-radius: 0 0 50px 50px !important;
  }
  .contact-us .text {
    padding-left: 30px !important;
  }
  .contact-us form {
    padding-left: 15px !important;
  }
}

.contact-us .text {
  padding-top: 75px;
  padding-left: 60px;
}

.contact-us .text h3 {
  color: rgba(0, 210, 0, 0.8);
}

.contact-us .text p {
  font-size: 12px;
  color: #ccc;
  padding-right: 20px;
  margin-bottom: 50px;
}

.contact-us .text a {
  text-decoration: none;
  display: block;
  color: #f2f2f2;
  margin-top: 20px;
  font-size: 14px;
}

.contact-us i {
  margin-right: 8px;
  font-size: 17px;
}

.contact-us img {
  width: 50px;
  margin: 50px 0;
}

.contact-us form {
  padding-top: 75px;
  padding-left: 35px;
}

.contact-us input,
textarea {
  width: 85%;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 3px 6px;
  margin-bottom: 25px;
  font-size: 12px;
  background: none;
}

textarea {
  height: 80px;
}

.contact-us input::placeholder,
textarea::placeholder {
  font-size: 12px;
  color: #aaa;
}

.contact-us input.btn {
  color: white;
  background: rgb(210, 66, 0);
  font-weight: bold;
  width: 115px;
  border-radius: 25px;
}



.rights {
  color: #ccc;
  margin-top: -5px;
  font-size: 11px;
  padding-bottom: 10px;
  margin-top: 60px;
}

/*
*
*
*
*
*
*
*
/******************** start publish page *********************/

.description {
  padding: 50px 0;
}

.description h2,
.features h2 {
  font-weight: 400;
  margin-bottom: 25px;
  font-size: 2.7rem;
  font-family: -webkit-pictograph;
}

.description p {
  width: 90%;
}

.criteria {
  padding: 50px 0;
}

.criteria h2 {
  text-align: center;
  font-family: -webkit-pictograph;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 40px;
}

.criteria .cri {
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 20px;
}

.cri img {
  width: 40px;
  border-radius: 15px !important;
  margin-bottom: 12px;
  background-color: #fff;
}

.cri p {
  margin-top: 10px;
}


@media (min-width: 1100px) {
  .cri {
    height: 235px;
  }
  .cri p {
    padding: 0 5px;
  }
}

@media (max-width: 1100px) {
  .features .col-xs-12,
  .features .col-sm-6 {
    margin-bottom: 25px;
  }
}

/*start features section*/

.features {
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: #f2f2f2;
}

.features .icon-box {
  background-color: rgba(0, 210, 0, 0.8);
  width: 80px;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
}

.features .icon-box p {
  color: #fff;
  background-color: rgba(250, 48, 67, 0.8);
  border-radius: 10px;
  font-size: 11px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
  margin-top: auto;
}

.features img {
  width: 35px;
  margin-top: -5px;
}

.features p {
  margin-left: 30px;
  margin-top: 15px;
  font-weight: bold;
}

@media (max-width: 992px) {
  .features p {
    margin-left: 0 !important;
  }
}

.guidelines {
  padding: 70px 0;
}

.guidelines .warning {
  background-color: rgba(0, 210, 0, 0.8);
  color: #fff;
  display: inline-grid;
  border-radius: 50%;
  width: 20px;
  height: 28px;
  text-align: center;
  margin-right: 10px;
}

.guidelines a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.guidelines a.btn:hover {
  color: rgba(0, 210, 0, 0.2);
  background-color: rgba(0, 210, 0, 0.8);
}

#publish-form {
  background-color: #f2f2f2;
}

#publish-form form {
  padding-top: 40px !important;
  padding-left: 0 !important;
}

#publish-form input,
#publish-form textarea {
  margin-bottom: unset;
}
