/* defaults START */
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
@font-face {
  font-family: organetto;
  src: url(fonts/organetto/Fontspring-DEMO-organetto-regular.otf);
  font-weight: regular;
}
@font-face {
  font-family: organetto;
  src: url(fonts/organetto/Fontspring-DEMO-organetto-bold.otf);
  font-weight: bold;
}
:root {
  --white-color: #ffffff;
  --first-color-plate: #843fc4;
  --second-color-plate: #262161;
  --third-color-plate: #fbaf41;

  --inter-font-family: inter;
  --body-font-family: ;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 50000000000000s ease-in-out 0s;
}
html {
  -webkit-tap-highlight-color: transparent;
}
html:focus {
  outline: none;
}
/* defaults END */
#preloader {
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background: #000 url(../resources/loader.gif) no-repeat center center;
  background-size: 15%;
  position: fixed;
  transition: 1s;
}
.back_vid {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.welcome_sec {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
  display: flex;
  justify-content: flex-start;
  padding: 0 5%;
}
.homepage {
  background-color: var(--second-color-plate);
}
.homepage #container,
.sub_pages {
  background: url(../resources/lower_background_LP.jpg) repeat;
  background-size: cover;
  background-attachment: fixed;
}
.banner_content {
  margin-top: 20%;
}
#container {
  /* padding: 0px 15% 300px; */
  /* new */
  padding: 0px 0 300px;
}
section {
  /* padding: 15% 0; */
  padding: 10rem 0 0;
}
.homepage #container,
.welcome_sec {
  position: sticky;
  top: 0;
}
header {
  top: 0;
  z-index: 999;
  position: fixed;
  width: 100%;
  padding: 0px 15% 0px 15%;
  height: fit-content;
  background-color: #02000d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: ease-in-out 0.6s;
}
#logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--white-color);
  gap: 10px;
  font: var(--font-weight-bold) 14pt organetto;
  text-shadow: 0 0 8px #7d00e3;
}
#logo span {
  display: none;
}
nav {
  display: inline-flex;
  align-items: center;
}
.nav_but a {
  position: relative;
  text-decoration: none;
  color: var(--white-color);
  margin-left: 35px;
  font: var(--font-weight-regular) 10pt organetto;
  cursor: pointer;
}
.nav_but a:last-child {
  display: none;
}
.nav_but a:after {
  content: "";
  position: absolute;
  background-color: var(--first-color-plate);
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -5px;
  transition: 0.5s ease-in-out;
}
.nav_but a:hover::after {
  width: 100%;
}
#publish_butt {
  width: max-content;
  padding: 7px;
  height: max-content;
  border-radius: 3px;
  background-color: #8842c4;
  color: var(--white-color);
  font: var(--font-weight-regular) 10pt organetto;
  cursor: pointer;
}
#publish_butt:hover {
  box-shadow: 0 0 35px var(--first-color-plate);
}
.home_head .nav_but a:nth-child(1)::after {
  width: 100%;
}
.nav_but {
  text-transform: uppercase;
}
.nav_mob {
  color: var(--white-color);
  font-size: 20px;
  float: right;
  display: none;
}
#check {
  display: none;
}
#typedtext {
  margin-bottom: 35px;
  color: var(--white-color);
  font: var(--font-weight-extrabold) 46pt var(--inter-font-family);
  height: 222px;
  overflow: hidden;
  cursor: default;
}

#typedtext span > span {
  color: var(--first-color-plate);
}
#browse_issues_butt {
  font: var(--font-weight-bold) 14pt var(--inter-font-family);
  width: fit-content;
  height: fit-content;
  padding: 10px;
  background-color: var(--first-color-plate);
  color: var(--white-color);
  border-radius: 3px;
  cursor: pointer;
  animation: glowBox 0.7s ease-in-out infinite alternate;
}
@-webkit-keyframes glowBox {
  from {
    box-shadow: 0 0 15px var(--first-color-plate);
  }
  to {
    box-shadow: 0 0 5px var(--first-color-plate);
  }
}
#browse_issues_butt:hover {
  box-shadow: 0 0 35px var(--first-color-plate);
  animation: none;
}
.intro_sec {
  margin: 0 auto;
  /* width: 60%; */
  /* new */
  width: 80%;
}

/* new */
.intro_sec .row {
  margin-bottom: 4rem;
}


.intro_sec .img {
  background-image: url("../resources/home_1.jpeg");
  background-position: center;
  background-size: cover;
  filter: opacity(0.7);
  position: relative;
  display: block;
  width: 100%;
  height: 400px;
  transition: 0.4s;
}

.intro_sec .img:hover {
  filter: opacity(0.8);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 70%, rgba(0,0,0,1)), url("../resources/home_1.jpeg");
  background-position: center;
  background-size: cover;
}

.intro_sec .row:nth-child(2) .img {
  background-image: url("../resources/home_2.jpeg");
}

.intro_sec .row:nth-child(2) .img:hover {
  filter: opacity(0.8);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 70%, rgba(0,0,0,1)), url("../resources/home_2.jpeg");
  background-position: center;
  background-size: cover;
}

.intro_sec div.position-relative p {
  /* display: none; */
  opacity: 0;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  filter: drop-shadow(0 0 0.75rem black);
  color: rgba(245, 245, 245, 0.95);
  font-size: 1rem;
  text-align: center;
  transition: 0.2s;
}

.intro_sec .img:hover ~ p {
  opacity: 1;
}
/* end new */
.intro_sec h3 {
  font: var(--font-weight-extrabold) 26pt var(--inter-font-family);
  color: var(--first-color-plate);
  text-transform: capitalize;
  margin-bottom: 30px;
  text-align: center;
}
.intro_sec {
  font: var(--font-weight-regular) 16pt var(--inter-font-family);
  color: var(--white-color);
}
#who_we_are {
  /* margin-bottom: 45px; */
  /* text-align: center; */
  margin-bottom: 65px;
}
#who_we_are,
#our_vision {
  font-size: 1.2rem;
}
#our_vision ol {
  counter-reset: item;
  margin-top: 15px;
}
#our_vision ol li {
  display: block;
  margin-bottom: 0.5rem;
  line-height: 1.3;
}
#our_vision ol li:before {
  content: counter(item) ". ";
  counter-increment: item;
  color: var(--first-color-plate);
  font-weight: 700;
}
.our_team h3 {
  font: var(--font-weight-extrabold) 36pt inter;
  color: var(--first-color-plate);
  text-transform: capitalize;
  animation: glow 1s ease-in-out infinite alternate;
  text-align: center;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 50px var(--first-color-plate);
  }
  to {
    text-shadow: 0 0 35px var(--first-color-plate);
  }
}
.hi-slide {
  position: relative;
  width: 758px;
  height: 399px;
  margin: 30px auto 0;
}
.hi-slide .hi-next,
.hi-slide .hi-prev {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  width: 70px;
  height: 70px;
  line-height: 80px;
  text-align: center;
  cursor: pointer;
  z-index: 20;
}
.hi-slide .hi-prev {
  left: -70px;
}
.hi-slide .hi-next {
  right: -70px;
}

.hi-slide > ul {
  list-style: none;
  position: relative;
  width: 758px;
  height: 399px;
  overflow: hidden;
}
.hi-slide > ul > li {
  overflow: hidden;
  position: absolute;
  z-index: 0;
}
/* edited by Mikhael */
.hi-slide > ul > li > img,
.hi-slide > ul > li > a > img {
  width: 100%;
  height: 100%;
}
.slide_home img {
  border-radius: 35px;
  margin-top: -2.2px;
}
#Contact_cont {
  width: min-content;
  min-width: 758px;
  height: max-content;
  background-color: #7d00e3;
  margin: 150px auto;
  margin: 0 auto;
  border-radius: 9px;
  padding: 40px;
}
#Contact_internal {
  display: flex;
  justify-content: space-between;
}
.Contact_pages p {
  font: var(--font-weight-extrabold) 36pt inter;
  color: var(--white-color);
  text-transform: capitalize;
  margin-bottom: 100px;
}
.Contact_pages {
  display: flex;
  flex-direction: column;
}
.Contact_pages a {
  font: var(--font-weight-regular) 11pt inter;
  color: var(--white-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}
.Contact_pages img {
  margin-right: 4%;
}
.send_box {
  width: fit-content;
  /* height: 511px; */
  height: fit-content;
  border-radius: 9px;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  padding: 35px;
  margin-left: 5%;
}
#contact_form input {
  color: black;
  font: var(--font-weight-regular) 12pt inter;
  border-bottom: 2.68px solid #390365;
  width: 100%;
  border-radius: 1.34px;
  margin-bottom: 42px;
}
#contact_form input::placeholder {
  color: #390466;
  font: var(--font-weight-regular) 12pt inter;
}
#contact_form label {
  color: #390466;
  font: var(--font-weight-regular) 12pt inter;
}
#contact_form input:focus::placeholder {
  color: transparent;
}
input:focus,
textarea:focus {
  outline: 1px solid #390365;
}
#contact_form textarea {
  margin-top: 3px;
  width: 100%;
  height: 257.18px;
  border-radius: 3px;
  background-color: #e1d9e8;
  word-wrap: break-word;
  font: var(--font-weight-regular) 8pt inter;
  padding: 2px;
  resize: none;
}
#contact_form #contact_send {
  margin-top: 5px;
  width: 166.09px;
  height: 38.4px;
  border-radius: 3px;
  font: var(--font-weight-bold) 14pt inter;
  background-color: #8842c4;
  color: #f7f2fb;
  cursor: pointer;
  border: none;
  margin-bottom: 0px;
}
#contact_form #contact_send:hover {
  box-shadow: 0 0 35px var(--first-color-plate);
  transition: 0.3s;
}
footer {
  display: flex;
  width: 100%;
  height: 180px;
  background-color: #380265;
  justify-content: space-around;
  bottom: -1px;
  /* margin-top: 15%; */
  z-index: 999;
  position: relative;
}
.copyrights,
.developers_f {
  display: flex;
  flex-direction: column;
}
.copyrights > span:first-child,
.developers_f > span:first-child {
  margin: 35px 0 20px;
}
.copyrights > span {
  font: var(--font-weight-regular) 10pt inter;
  color: var(--white-color);
}
.developers_f {
  font: var(--font-weight-regular) 12pt inter;
  color: var(--white-color);
}
@media only screen and (max-width: 1110px) {
  .nav_but a {
    font-size: 8pt;
  }
  #publish_butt {
    font: var(--font-weight-regular) 7pt organetto;
  }
  #typedtext {
    font-size: 30pt;
    height: 140px;
  }
  #browse_issues_butt {
    font-size: 8pt;
    padding: 8px;
  }
  .intro_sec h3 {
    font: var(--font-weight-extrabold) 18pt var(--inter-font-family);
  }
  .intro_sec {
    font: var(--font-weight-regular) 10pt var(--inter-font-family);
  }
  .intro_sec h3 {
    margin-bottom: 10px;
  }
  #who_we_are {
    margin-bottom: 20px;
  }
  .our_team h3 {
    font-size: 26pt;
  }
  .hi-slide {
    width: 366px;
    height: 250px;
  }
  .hi-slide > ul {
    width: 366px;
    height: 250px;
  }
  #Contact_cont {
    min-width: 450px;
  }
  #Contact_internal {
    display: flex;
    flex-direction: column;
  }
  #contact_form textarea {
    margin-top: 3px;
    width: 100%;
    height: 100px;
  }
  .Contact_pages p {
    font: var(--font-weight-extrabold) 24pt inter;
    margin-bottom: 50px;
  }
  .Contact_pages a:not(:last-child) {
    margin-bottom: 30px;
  }
  #contact_form #contact_send {
    width: 100%;
    font: var(--font-weight-bold) 12pt inter;
  }
  #contact_form input {
    margin-bottom: 20px;
  }
  .send_box {
    margin-left: 0;
  }

  .copyrights > span {
    font: var(--font-weight-regular) 8pt inter;
  }
  .copyrights > span img {
    width: 220px;
    height: 45px;
  }
  .developers_f {
    font: var(--font-weight-regular) 10pt inter;
  }
}
@media only screen and (max-width: 650px) {
  #container {
    padding: 0 10% 200px;
  }
  header {
    padding: 0px 5% 0px 5%;
  }
  #logo span {
    display: block;
  }
  .nav_mob {
    position: absolute;
    right: 5%;
    display: block;
    cursor: pointer;
    transition: ease-in-out 0.5s;
  }

  #logo img {
    width: 44px;
    height: 40px;
  }
  #check:checked ~ .nav_but {
    right: 0;
  }
  #check:checked ~ .nav_mob {
    color: #7d00e3;
  }
  #check:checked ~ .nav_but a {
    display: block;
  }
  nav {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav_but {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #02000d;
    top: 40px;
    right: -100%;
    text-align: center;
    transition: ease-in-out 0.5s;
  }
  .nav_but a {
    display: none;
    font-size: 12pt;
    margin: 0;
    padding: 15px 0px;
  }
  .nav_but a:hover {
    background-color: #380265;
    text-shadow: 0 0 35px var(--white-color);
  }
  .nav_but a:after {
    height: 0px;
  }
  #publish_butt {
    display: none;
  }
  .welcome_sec {
    padding: 0% 10%;
  }
  #typedtext {
    font-size: 16pt;
    height: 80px;
    margin: 0px 0 15px;
  }
  #browse_issues_butt {
    font-size: 8pt;
  }
  .intro_sec h3 {
    font: var(--font-weight-extrabold) 14pt var(--inter-font-family);
  }
  .intro_sec {
    font: var(--font-weight-regular) 8pt var(--inter-font-family);
  }
  .intro_sec h3 {
    margin-bottom: 6px;
  }
  #who_we_are {
    margin-bottom: 16px;
  }
  .our_team h3 {
    font-size: 22pt;
  }
  .hi-slide {
    width: 168px;
    height: 250px;
  }
  .hi-slide > ul {
    width: 168px;
    height: 250px;
  }
  #Contact_cont {
    min-width: 250px;
    margin-top: 50px;
    padding: 20px;
  }
  .Contact_pages p {
    font: var(--font-weight-extrabold) 14pt inter;
    color: var(--white-color);
    text-transform: capitalize;
    margin-bottom: 40px;
  }
  .Contact_pages {
    display: flex;
    flex-direction: column;
  }
  .Contact_pages a {
    font-size: 8pt;
    margin-bottom: 20px;
  }
  .Contact_pages img {
    margin-right: 4%;
    width: 35px;
    height: 35px;
  }
  .send_box {
    padding: 20px;
  }
  #contact_form input {
    border-bottom: 2px solid #390365;
    margin-bottom: 15px;
    font-size: 8pt;
  }
  #contact_form input::placeholder {
    font-size: 8pt;
  }
  #contact_form label {
    font-size: 8pt;
  }
  #contact_form textarea {
    height: 150px;
    font-size: 8pt;
  }
  #contact_form #contact_send {
    font-size: 10pt;
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  .developers_f {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .copyrights {
    text-align: center;
  }
  .copyrights img {
    margin-left: -25px;
  }
  .copyrights > span:first-child,
  .developers_f > span:first-child {
    margin: 0px 0 0px;
  }
  .copyrights > span {
    font: var(--font-weight-regular) 8pt inter;
    color: var(--white-color);
  }
  .developers_f {
    font: var(--font-weight-regular) 7pt inter;
    color: var(--white-color);
  }
}


.issues_head .nav_but a:nth-child(2):after {
  width: 100%;
}
